.container{
    margin-top: 30px;
    padding-left:10px;
    height: 50vh;
    width: 35vw;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: aqua;
    margin-top: 5px;
    margin-bottom: 10px;
}