.navbar{
    display: flex;
    justify-content: flex-end;
}
.container{
    display: flex;
    flex-direction: column;
}
.containerbody{
    display: flex;
    flex-direction: row;
}
.componentlink{
    min-width: 100px;
}