.container{
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    justify-content: center;
    align-items: center;
}
.container h3{
    font-size: large;
    margin-top: 10px;
    font-style: italic;
}
.editor{
    height: 250px;
    border: 1px solid #ccc;
    padding: 5px; 
}
.sentBtn{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}